* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .borda {
  border: 1px solid black;
} */

.top-bar {
  padding-top: 10px;
  height: 100%;
  background-color: rgb(66, 103, 178);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facebook-logo {
  width: 12%;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

h1 {
  margin: 10px;
  height: 5px;
  font-size: 25px;
}

h3 {
  font-size: 18px;
}

.form-control {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 5px;
}

.main-content {
  display: flex;
  justify-content: center;
  background-color: #cecece;
  height: 500px;
}

.left-content {
  flex-basis: 800px;
}

.left-content p {
  color: #0e385f;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 40px;
  width: 400px;
  margin-left: 35px;
}

.right-content {
  width: 300px;
  height: 400px;
}

.nome-completo {
  display: flex;
}

input {
  width: 100%;
  margin: 5px;
}

#tipo-genero {
  display: flex;
  margin: 5px;
}

#user-email-phone {
  height: 20px;
  padding-left: 2px;
  font-size: 12px;
  border: 1px solid #a5dcff;
}

#user-password {
  height: 20px;
  padding-left: 2px;
  font-size: 12px;
  border: 1px solid #a5dcff;
}

#firstname {
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid #a5dcff;
  border-radius: 8px;
}

#lastname {
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid #a5dcff;
  border-radius: 8px;
}

#phone_email {
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid #a5dcff;
  border-radius: 8px;
}

#password {
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid #a5dcff;
  border-radius: 8px;
}

#birthdate {
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid #a5dcff;
  border-radius: 8px;
}

#gender-custom {
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid #a5dcff;
  border-radius: 8px;
}

#facebook-register {
  height: 40px;
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.remover {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
}

.div-central {
  width: 75%;
}

.linguas {
  display: flex;
  padding: 10px;
}

.linguas a {
  font-size: 15px;
  font-family: inherit;
  color: #385898;
  padding-right: 8px;
}

.linguas p {
  padding-right: 8px;
  color: gray;
  font-size: 15px;
  font-family: inherit;
}

.funcoes {
  padding: 10px;
}

.funcoes a {
  padding: 4px;
  padding-bottom: 25px;
  color: #385898;
  font-size: 15px;
  font-family: inherit;
}

.facebook-direitos {
  color: gray;
  padding-left: 5px;
}
