* {
  margin: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.facebook-login {
  display: flex;
  align-items: flex-end;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.cad {
  width: 289px;
}

#firstname , #lastname {
  width: 46.5%;
}
