* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-between;
  height: 84px;
}

.facebook-login {
  display: flex;
  color: aliceblue;
  font-size: 16px;
  max-height: 30px;
  align-self: center;
  margin-bottom: 60px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 13px;
}

.form-control {
  background-color: rgb(66, 103, 178);
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}
