* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background: linear-gradient(white, #d3d8e8);
}

header {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: center;
}

.top-bar {
  width: 1100px;
  height: 80px;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facebook-logo {
  width: 170px;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  color: white;
  font-size: 12px;
}

.form-group input {
  width: 150px;
  height: 25px;
  padding: 3px 4px;
  margin: 5px 0;
  outline: none;
  border: 1px solid #1d2a5b;
}

.form-group input::placeholder {
  visibility: hidden;
}

.form-control {
  display: flex;
  align-self: flex-end;
  margin-bottom: 5px;
}

.esqueceu-senha {
  color: #9cb4d8;
  text-decoration: none;
  font-size: 12px;
}

.esqueceu-senha:hover {
  text-decoration: underline;
}

.form-control button {
  width: 50px;
  height: 25px;
  background-color: #4267b2;
  border: 1px solid #29487d;
  border-radius: 2px;
  color: white;
  outline: none;
  margin-bottom: 14px;
}

.main-content {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 40px;
}

.left-content {
  display: flex;
  flex-direction: column;
  flex-basis: 800px;
}

#facebook-slogan {
  width: 570px;
  color: #0e385f;
  font-size: 20px;
  font-weight: 600;
}

#facebook-networking {
  width: 570px;
  margin-top: 20px;
}

.right-content {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.right-content h1 {
  font-size: 28px;
  color: #333;
  font-weight: 600;
  padding-bottom: 5px;
  line-height: 1.3;
}

.quick-easy {
  font-size: 19px;
  color: #1d2129;
  line-height: 1.2;
  padding-bottom: 20px;
}

.first-last {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.first-last input {
  width: 150px;
  height: 40px;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  outline: none;
}

.celular-email {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  outline: none;
}

.password {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  outline: none;
}

#label-gender {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #90949c;
  margin-bottom: 10px;
}

.gender-radio {
  font-size: 14px;
  margin-left: 3px;
}

#gender-custom {
  display: none;
  width: 100%;
  height: 40px;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  outline: none;
}

.birth {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.birth label {
  font-size: 16px;
  font-weight: 600;
  color: #90949c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.birth input {
  height: 40px;
  padding: 8px 10px;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  outline: none;
}

.right-content button {
  width: 194px;
  height: 40px;
  cursor: pointer;
  color: white;
  font-size: 19px;
  font-weight: 600;
  border: 1px solid #3b6e22;
  border-radius: 5px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(#67ae55, #578843);
  box-shadow: inset 0 1px 1px #a4e388;
  margin-top: 20px;
  margin-bottom: 30px;
  outline: none;
}

#screen-small {
  display: none;
}


@media screen and ( max-width : 899px ) {

  body {
    background: none;
    background-color: white;
  }

  .main-content {
    display: none;
  }

  header {
    flex: 1;
  }

  .top-bar {
    height: 50px;
    flex-direction: column;
  }

  .facebook-logo {
    order: 2;
    width: 140px;
    margin-bottom: 10px;
  }

  .facebook-login {
    order: 3;
    margin-top: 20px;
    flex-direction: column;
    align-self: center;
  }

  .form-group label {
    display: none;
  }

  .form-group {
    padding-right: 0;
  }

  .form-group input {
    width: 320px;
    height: 40px;
    margin: 0;
    background-color: #f5f6f7;
    border-color: #ededed;
    font-size: 15px;
    padding: 14px 16px;
  }

  .form-group input::placeholder {
    visibility: visible;
  }

  .form-group a {
    display: none;
  }

  .form-control {
    order: 4;
    margin-top: 10px;
  }

  .form-control button {
    width: 320px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
  }

  #screen-small {
    order: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #screen-small button {
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: 1px solid #53a60a;
    background-color: #53a60a;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #screen-small a {
    font-size: 16px;
    text-decoration: none;
    color: #9cb4d8;
    font-weight: 500;
  }
}
