* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  height: 78px;
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.forms {
  float: right;
  width: 100%;
  margin-top: 15px;
  color: white;
  display: flex;
  justify-content: flex-end;
 
 
}

.form-group {
  float: right;
=======
.facebook-login {
  display: flex;
  color: white;
  font-size: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-left: 5px;
>>>>>>> 2adbbedafe9a73b016bc2a4d3aee5cbe2fe357e9
  color: white;
  font-size: 12px;
}

.form-group a {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
=======
  align-self: left;
  margin-top: 5px;
  color: white;
  text-decoration: none;
  opacity: 0.5;
>>>>>>> 2adbbedafe9a73b016bc2a4d3aee5cbe2fe357e9
}

.form-control {
  padding: 5px;
  align-self: flex-end;
<<<<<<< HEAD
  
}

#button-login {
  color: white;
  background-color: #4267b2;
  align-self: flex-end;
  float: right;
}

.forget {
  color: white;
  font-size: 10px;
  text-align: center;
  margin-top: 50px;
  margin-right: 200px;
=======
  margin-bottom: 25px;
  color: white;
  background-color: #4267b2;
>>>>>>> 2adbbedafe9a73b016bc2a4d3aee5cbe2fe357e9
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(rgb(247, 241, 241), rgb(219, 225, 243));
  padding: 30px;
}

.left-content {
  width: 800px;
}

#facebook-slogan {
  font-size: 20px;
  padding: 10px;
  margin-right: 25px;
  font-weight: 700;
  line-height: 25px;
  width: 450px;
}

.right-content {
  width: 300px;
}

.right-content h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
}

.right-content h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.linhaform {
  display: flex;
}

.aniversario {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: rgb(153, 153, 153);
  font-weight: 700;
}

.quadrogenero {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  color: rgb(153, 153, 153);
  font-weight: 700;
}

.generos {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 0 5px 4px;
}

.labelgenero {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  padding: 0 10px 0 3px;
  margin-right: 4px;
  margin-top: -1px;
}

.linhaform input {
  border-radius: 5px;
  border: git1px solid;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  width: 350px;
  border-color: rgb(206, 210, 214);
  text-align: start;
}

.botaoenviar {
  background-color: forestgreen;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
}
