* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  margin: 0 auto;
  padding: 10px 60px; /* padding-top, padding-left, padding-bottom, padding-right */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facebook-logo {
  width: 200px;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  border-color: #1d2a5b;
  width: 142px;
  border: 0 solid #ccd0d5;
}

.form-control {
  align-self: flex-end;
}

#facebook-slogan { /* Isso não é o mesmo que está na linha 45? */
  font-size: 20px;
}

.signup-form {
  display: flex;
  flex-direction: row;
}

/* Não apagues essa linha vazia antes e depois desse ponto,
o final do código tem de ter sempre uma linha vazia! */

/* dennis */
.hide {
  display: none;
}
