* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

header div {
  display: flex;
  background-image: linear-gradient(#4d68a0, #3b5998);
  height: 82px;
  justify-content: center;
}

.top-bar {
  display: flex;
  background-image: linear-gradient(#4d68a0, #3b5998);
  width: 980px;
  justify-content: space-between;
}

.top-bar form, #user-password, #user-email-phone {
  font-size: 12px;
  font-family: inherit;
}

.facebook-logo {
  display: flex;
  justify-content: center;
}

.facebook-login {
  display: flex;
  align-items: center;
  color: white;
  line-height: 26px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
  margin-right: 15px;
}

.form-control {
  display: flex;
  /* margin-bottom: 23px; */
  height: 30px;
  margin-top: 12px;
}

#user-password, #user-email-phone {
  border: 1px solid black;
  padding: 3.5px;
}

#button-login {
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin: 1px 0 4px 0;
  padding: 0px 5px 0px 5px;
  border-radius: 8%;
  background-color: #4267b2;
  border: 1px solid #29487d;
  font-family: inherit;
}

.main-content {
  display: flex;
  background-image: linear-gradient(white, #d3d8e8);
  flex-direction: row;
  height: 614px;
  justify-content: space-evenly;
}

.main-content div {
  display: flex;
  width: 980px;
}

.left-content {
  width: 580px;
  height: 326px;
  justify-self: flex-start;
}

#facebook-slogan {
  color: #0e385f;
  font-family: inherit;
  font-weight: bold;
  word-spacing: -1px;
  font-size: 20px;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
}

.right-content {
  width: 400px;
  height: 614px;
  justify-self: flex-end;
}

.right-content div {
  display: block;
  padding: 20px 0 20px 0;
  color: #333;
  line-height: 1.34;
}

span {
  font-size: 36px;
  font-weight: 600;
}

.quick-easy {
  font-size: 19px;
  /* margin-top:2px; */
}

.facebook-form {
  display: flex;
  flex-flow: row wrap;
  line-height: 40px;
}

.facebook-form input {
  margin: 5px;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 5px;
}

.name {
  width: 120px;
}

.facebook-form #label-gender {
  margin-right: 250px;
}

#terms-politics {
  color: #777;
  font-size: 11px;
  line-height: 12px;
  width: 316px;
}

.terms-link {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

#facebook-register {
  font-size: 19px;
  font-weight: bold !important;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  font-family: Helvetica, Arial, sans-serif !important;
  line-height: 126%;
  color: white;
  cursor: pointer;
  min-width: 194px;
  padding: 7px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  border: 1px solid;
  background-image: linear-gradient(#67ae55, #578843);
  border-color: #3b6e22 #3b6e22 #2c5115;
  text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
}

.page-text {
  line-height: 15px;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid #dddfe2;
}

.page-button {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

footer {
  height: 175px;
}