* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e8f1;
  font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
  display: flex;
  background-color: #3b5998;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.facebook-logo {
  align-items: center;
  margin-left: 100px;
}

.facebook-login {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.form-group {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
  color: white;
  font-size: 12px;
}

.form-control {
  align-self: flex-end;
  padding-bottom: 7px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.left-content {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-content img {
  margin-top: 20px;
}

.right-content {
  width: 300px;
  margin-right: 100px;
}

.nomeSobrenome {
  display: flex;
  padding-top: 10px;
}

.form-cadastro input {
  border: none;
  padding: 5px;
  margin: 5px;
}

#button-login {
  background-color: #4267b2;
  color: white;
  cursor: pointer;
}

#label-gender {
  display: flex;
  flex-direction: row;
}

#user-email-phone-label {
  padding-bottom: 4px;
}

#user-password-label {
  padding-bottom: 4px;
}

#facebook-slogan {
  max-width: 300px;
}

#facebook-networking {
  max-width: 450px;
}
