* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0; /* eliminates all margin */
}

#header-background {
  height: 100px;
  background-color: rgb(66, 103, 178);
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  height: 100px;
  justify-content: space-between;
  align-items: center;
  width: 980px;
  margin: 0 auto;
}

.facebook-login {
  display: flex;
  color: white;
}

input:focus {
  outline: none;
  box-shadow: none;
}

.form-group {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

.form-group input {
  border: solid 1px;
  border-color: #1d2a5b;
  padding: 3px 3px 4px;
}

.login-label {
  padding-bottom: 4px;
}

#forgot-pass {
  padding-top: 4px;
  line-height: 16px;
  color: #9cb4d8;
  cursor: pointer;
}

#forgot-pass:hover {
  text-decoration: underline;
}

.form-control {
  align-self: flex-end;
  width: 50px;
  margin-bottom: 20px;
}

#button-login {
  font-family: inherit;
  background-color: #4267b2;
  border: 1px solid;
  border-color: #29487d;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  color: white;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding: 2px 6px;
  cursor: pointer;
}

#button-login:focus {
  outline: none;
  box-shadow: none;
}

#button-login:hover {
  background-color: #3b5998;
}

#button-login:active {
  background-color: #29487d;
}

#main-background {
  background-image: linear-gradient(white, #d3d8e8);
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

h1 {
  font-size: 36px;
  color: #1d2129;
}

p {
  color: #1d2129;
}

#facebook-slogan {
  color: #0e385f;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
  margin-bottom: 0;
}

.quick-easy {
  font-size: 19px;
}

.input-register {
  font-size: 14px;
  padding: 3px 4px;
  border: 1px solid;
  background-color: transparent;
  border-color: #bdc7d8;
  border-radius: 5px;
}

.date-gender-label {
  color: #90949c;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 5px;
}

.name-surname {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.name-surname #input-name {
  width: 134px;
}

.name-surname #input-lastname {
  width: 134px;
}

.rest-form {
  display: flex;
  flex-direction: column;
}

#input-phone-email {
  margin-bottom: 10px;
}

#input-password {
  margin-bottom: 10px;
}

#facebook-register {
  margin-top: 20px;
}

#label-gender {
  margin-top: 10px;
}

#gender-container {
  display: block;
  margin-top: 10px;
  color: #1d2129;
  font-size: 15px;
  line-height: 18px;
  padding: 0 10px 0 3px;
}

.input-gender {
  margin: 0;
}

#custom-gender {
  margin-top: 10px;
}
