* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  margin: 0 auto;
  border: solid 1px;
}
.top-bar img {
  display: flex;
  margin-right: 50px;
  border: solid 1px;
}

.facebook-login {
  color: white;
  border: solid 1px;
}

.top-bar form {
  justify-content: flex-end;
}

.facebook-logo {
  height: 60px;
}

.form-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
