* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, white 50%, #d3d8e8);
  height: 100vh;
}

.top-bar {
  width: 100%;
  height: 82px;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facebook-logo {
  width: 150px;
}

.facebook-login {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-right: 14px;
}

.form-group label {
  font-size: 12px;
  color: white;
  text-align: left;
  margin-bottom: 5px;
}

.form-group input {
  padding: 3px 3px 4px;
  margin-bottom: 1px;
}

.form-group span {
  font-size: 12px;
  text-align: left;
  height: 0;
  color: #9cb4d8;
  cursor: pointer;
}

.form-group span:hover {
  text-decoration: underline;
}

.form-control {
  width: 50px;
  margin-left: 2px;
  align-self: flex-end;
  margin-bottom: 2px;
}

.form-control button {
  background-color: #4267b2;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: 600;
  padding: 5px 6px;
}

.form-control button:hover {
  background-color: #3b5a98;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 800px;
  margin-left: 5%;
}

.left-content p {
  font-size: 20px;
  font-weight: 700;
  color: #0e385f;
  margin: 40px 0 0;
  line-height: 30px;
  width: 450px;
}

.left-content img {
  margin-top: 10px;
}

.right-content {
  width: 300px;
  margin-right: 14%;
}

.right-content h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  color: #333;
  padding: 16px 0;
}

.right-content p {
  font-size: 19px;
  line-height: 25px;
  color: #1d2129;
  padding-bottom: 15px;
}

.right-content form .name-lastname {
  display: flex;
  flex-direction: row;
}

.right-content .birthday input {
  color: #1c1e21;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
  height: 39px;
  width: 430px;
  margin-top: 8px;
}

.right-content form .name-lastname input {
  height: 39px;
  width: 210px;
  margin-right: 12px;
  color: #1c1e21;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.right-content .mail {
  color: #1c1e21;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
  height: 39px;
  width: 430px;
  margin-top: 14px;
}

.right-content .password {
  color: #1c1e21;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
  height: 39px;
  width: 430px;
  margin-top: 14px;
}

.right-content .birthday {
  display: flex;
  flex-direction: column;
}

.right-content .birthday label {
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  color: #90949c;
  margin-top: 20px;
}

.right-content .gender {
  display: flex;
  flex-direction: column;
}

.right-content .gender label {
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
  color: #90949c;
  margin-top: 20px;
}

.right-content .gender .genders {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
}

.right-content .gender .genders input {
  color: #1d2129;
  font-size: 18px;
  line-height: 18px;
  margin-right: 10px;
  margin-left: 10px;
}

.gender-custom {
  display: none;
  color: #1c1e21;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid lightgray;
  height: 39px;
  width: 430px;
  margin-top: 14px;
}

#invalid-field {
  color: rgb(244, 47, 47);
  font-size: 16px;
  font-style: italic;
}

.right-content #facebook-register {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: white;
  height: 39px;
  width: 194px;
  border-radius: 6px;
  border: 1px solid rgb(74, 74, 74);
  background-color: #6aa656;
  margin-top: 10px;
  cursor: pointer;
}

.right-content #facebook-register:hover {
  background-color: #5d944b;
  transition: background-color 300ms;
}

.userData {
  background-color: whitesmoke;
  height: 80%;
  width: 300px;
  padding: 50px 20px;
  font-family: Helvetica, sans-serif;
  border-radius: 8px;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 10px 1px gray;
  margin-top: 80px;
}
