* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

/* header div {
  display: flex;
  background-color: rgb(66, 103, 178);
  height: 82px;
  justify-content: center;
} */

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  height: 82px;
  justify-content: space-between;
}

.facebook-logo {
  display: flex;
  justify-content: center;
}

.facebook-login {
  display: flex;
  align-items: center;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
  margin-bottom: 23px;
  align-self: flex-end;

}

.main-content {
  display: flex;
  background-image: linear-gradient(white, #d3d8e8);
  flex-direction: row;
  height: 614px;
  min-width: 980px;
  justify-content: space-evenly;
}

.left-content {
  width: 800px;
  justify-self: flex-start;
}

.right-content {
  width: 300px;
  justify-self: flex-end;
}

.facebook-form {
  display: flex;
  flex-flow: row wrap;
  line-height: 40px;
}

.facebook-form input {
  margin: 5px;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 5px;
}

.name {
  width: 120px;
}

.facebook-form button {
  margin-top: 15px;
  padding: 10px;
  color: white;
  background-color: green;
  border-radius: 5px;
  margin-right: 150px;
}

.right-content h1 {
  font-size: 40px;
  margin-bottom: 7px;
}

.right-content p {
  font-size: 20px;
}

.facebook-form #label-gender {
  margin-right: 250px;
}

span {
  display: flex;
}
