* {
  margin: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(66, 103, 178);

}

.facebook-logo {
  align-self: center;
}

.facebook-login {
  display: flex;
  align-self: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.form-control {
  align-self: flex-end;

}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.name {
  display: flex;
}

.name input {
  width: 50%;
}

.gnd-c {
  display: none;
}
