* {
  margin: 0;
  padding: 0;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  justify-content: space-between;
  height: 40px;
}

.facebook-logo-container {
  display: flex;
  align-items: center;
}

.facebook-logo {
  display: flex;
  justify-self: left;
}

.facebook-login-form-container {
  display: flex;
  align-items: center;
}

.facebook-login {
  display: flex;
  justify-self: right;
}

.main-content {
  display: flex;
  justify-content: center;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;

}

.name-input {
  display: flex;
  width: 100%;
}

.invalido {
  color: red;
}
