* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

img {
  display: flex;
  margin-right: 50px;
}

.facebook-login {
  color: white;
  display: flex;
  height: 20px;
  right: 20px;
  margin-right: 20px;
  justify-content: center;
}

.facebook-logo {
  height: 60px;
}

.form-group {
  display: flex;
  margin-right: 5px;
  flex-direction: column;
}

.form-group p {
  font-size: small;
}

.form-control {
  align-items: center;
  align-self: flex-end;
}

.main-content {
  display: flex;
  border: solid 1px red;
  justify-content: space-between;
  margin: auto;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

form div {
  display: flex;
}

.radios {
  flex-flow: row wrap;
}

.error {
  display: none;
}
