body {
  margin: 0;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  height: 80px;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(180deg, #ecf3ff, #aac9ff);
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
  float: right;
}

.container-input {
  display: flex;
}

.container-radio {
  display: flex;
}

#gender-custom {
  display: none;
}
