* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: content-box;
}

/* Inicio da tag header */
.top-bar {
  background-color: rgb(66, 103, 178);
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  display: flex;
  justify-content: center;
}

.top-bar-conteudo {
  width: 1000px;
  padding-top: 13px;
  display: flex;
  justify-content: ;
  align-items: center;
}

.facebook-logo {
  width: 170px;
  height: 64px;
}

.facebook-login {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

#user-email-phone-label , #user-password-label {
  color: white;
  font-weight: 600;
  padding-bottom: 4px;
  cursor: pointer;
}

#user-email-phone , #user-password {
  padding-bottom: 14px;
  margin-right: 25px;
  width: 142px;
}

.right-content input {
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid gray;
  margin-bottom: 10px;
}

#user-email-phone input , #user-password input {
  border: 1px solid black;
  padding: 3px;
  width: 150px;
}

#user-password {
  padding-bottom: 5px;
}

#esqueceu-conta-label {
  color: #9cb4d8;
  text-decoration: none;
}

#esqueceu-conta-label:hover {
  text-decoration: underline;
}

.form-control {
  display: flex;
  align-self: flex-end;
  padding-bottom: 26px;
}

#button-login {
  color: white;
  background-color: #4267b2;
  border: 1px solid #063874;
  padding: 3px 9px;
  border-radius: 2px;
  cursor: pointer;
}

#button-login:hover {
  background-color: #063874;
}

/* Fim da tag header */

/* Inicio da tag main */
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(white, #d3d8e8);
}

/* Conteudo da esquerda */
.left-content {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

.content-slogan {
  display: flex;
  justify-content: center;
}

#facebook-slogan {
  color: #0e385f;
  font-size: 20px;
  font-weight: 900;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

#facebook-networking {
  width: 537px;
}

/* Conteudo da direita */
.right-content {
  width: 395px;
  margin-right: 150px;
}

h1 {
  font-size: 36px;
  color: #333;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}

.quick-easy {
  margin-bottom: 20px;
}

#phoneEmail , #userPassword {
  width: 100%;
}

#name , #subName {
  width: 50%;
  margin-right: 12px;
}

#subName {
  margin-right: 0;
}

#label-birthdate , #label-gender p {
  color: #90949c;
  font-size: 16px;
  font-weight: 900;
  display: block;
  margin-bottom: 10px;
}

#label-gender label {
  margin-right: 10px;
}

#form-user-name {
  display: flex;
}

#genderPersonalizado {
  display: none;
}

#facebook-register {
  min-width: 194px;
  padding: 7px 20px;
  font-size: 19px;
  line-height: 126%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 900;
  background: linear-gradient(#79bc64, #578843);
  background-color: #69a74e;
  box-shadow: 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* Fim da tag main */
