* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(66, 103, 178);
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.facebook-logo {
  width: 170px;
}

.section-login {
  display: flex;
  justify-content: flex-end;
}

.section-login label {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 12px;
  padding: 5px 0;
}

.section-login a {
  color: #9cb4d8;
  text-decoration: none;
  font-size: 12px;
  padding-top: 5px;
}

.facebook-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#button-login {
  background-color: #4267b2;
  border: solid 1px #29487d;
  border-radius: 2px;
  font-weight: 900;
  padding: 2px 6px;
  color: white;
  text-align: center;
  margin-bottom: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-right: 15px;

}

.form-login {
  align-self: flex-end;
}

.full-name {
  display: flex;
}

h1 {
  font-size: 30px;
}

input {
  margin: 5px 5px 5px 0;
  width: 310px;
  padding: 3px;
}

div input {
  width: 153px;
}

.section-forms {
  width: 460px;
}

.form-right-content {
  line-height: 0;
}

.right-content button {
  background-color: #69a74e;
  font-weight: 900;
  font-size: large;
  color: white;
  padding: 5px 30px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  margin-bottom: 10px;
}

.right-content button:hover {
  background: linear-gradient(#67ae55, #578843);
}

#male,
#female,
#custom {
  width: auto;
}

.main-content {
  padding-top: 30px;
  height: 65vh;
  flex-direction: row;
  display: flex;
  justify-content: center;
  background: linear-gradient(white, #d3d8e8);
}

.left-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-right: 50px;
}

.right-content {
  padding-left: 50px;
  width: 400px;

  /* Avaliar melhor propriedade para o justify-content */
  justify-content: center;
}

#gender-custom {
  display: none;
}

.birthdate-section {
  padding: 20px 0;
}

#label-birthdate {
  line-height: 1em;
  color: grey;
  font-weight: 900;
  font-size: 18px;
}

#label-gender {
  padding-bottom: 20px;
  color: gray;
  font-weight: 900;
}

.gender-section {
  font-size: 20px;
}

.container-options {
  display: flex;
}

.container-options section {
  margin-right: 30px;
}

.btn-submit {
  padding: 25px 0;
}

#facebook-register {
  background-color: #69a74e;
  font-weight: 900;
  font-size: large;
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  margin-bottom: 10px;
  line-height: 2;
  width: 200px;
}
