* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-bar-container {
  display: flex;
  justify-content: center;
  background-color: rgb(66, 103, 178);
}

.top-bar {
  width: 1100px;
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.facebook-logo {
  width: 150px;
}

.facebook-login {
  display: flex;
}

.login-label {
  color: white;
  margin-bottom: 5px;
  font-size: 16px;
}

.login-input {
  padding: 3px;
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-flow: column;
}

.form-control {
  display: flex;
  align-self: flex-end;
  height: 100%;
}

#button-login {
  margin: 15px 0;
  padding: 5px 10px;
  background-color: rgb(66, 104, 179);
  border: 1px solid rgb(41, 72, 125);
  color: white;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.main-content {
  display: flex;
  width: 1100px;
}

.left-content {
  width: 800px;
}

#facebook-slogan {
  font-size: 26px;
  font-weight: 600;
  margin-right: 200px;
  color: rgb(14, 56, 95);
}

#facebook-networking {
  width: 100%;
}

.right-content {
  width: 300px;
}

.right-content h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.quick-easy {
  font-size: 19px;
}

#form-register {
  margin-top: 15px;
}

.user-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-name input {
  width: 40%;
}

.input-register {
  margin-bottom: 10px;
  padding: 8px 10px;
  font-size: 18px;
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
}

#label-birthdate , #label-gender {
  color: hsl(220, 6%, 59%);
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
}

.genders {
  display: flex;
}

.genders label {
  margin-right: 10px;
  font-size: 15px;
}

.input-gender {
  margin-right: 5px;
}

#facebook-register {
  width: 60%;
  background: linear-gradient(#67ae55, #578843);
  border: 1px solid #3b6e22 #3b6e22 #2c5115;
  padding: 10px 25px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.user-register {
  margin-bottom: 10px;
  font-size: 18px;
}

#invalid-input {
  color: red;
  font-size: 20px;
}

hr {
  border: 0;
  border-top: 2px solid rgb(230, 230, 230);
  margin: 10px 0;
}
