* {
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  display: flex;
  justify-content: space-evenly;
  height: 75px;
  width: 100%;
}

.facebook-login {
  display: flex;
  align-items: flex-end;
}

.login {
  margin: 2px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-content {
  width: 800px;
  justify-content: space-evenly;
  padding: 20px 0 0 100px; 
}

.right-content {
  width: 300px;
  padding-right: 20px;
  justify-content: space-evenly;
}

.name-content {
  display: flex;
}

#nome {
  margin-right: 3px;
}
button{
  margin-bottom: 2px;
}
#facebook-slogan{
  width: 40%;
}