body {
  padding: 0;
  margin: 0;
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  width: 100%;
  height: 100px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.facebook-login {
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
  align-self: flex-end;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

#container-nome-sobrenome {
  display: flex;
}

.container-inputs-main {
  display: flex;
  flex-flow: column wrap;
}
